.sign-in {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sign-in__logo {
  grid-area: logo;
  margin: 10px;
}

.sign-in__input {
  width: 450px;
  margin: 10px;
}

.sign-in__button {
  display: inline-flex;
  width: 175px;
  margin: 10px;
}
