.menu-item {
  display: inline-flex;
  align-items: center;

  text-decoration: none;
  color: grey;
  line-height: 40px;
}

.menu-item_active {
  color: black;
}

.menu-item_active .menu-item__trailing-line {
  flex-grow: 1;
  margin-left: 10px;

  height: 1px;
  background: black;
}
