.menu-item {
  display: inline-flex;

  text-decoration: none;
  color: grey;
  line-height: 40px;
}

.menu-item_active .menu-item__title {
  color: black;
  padding-right: 10px;
}

.menu-item_active .menu-item__trailing {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-item_active .menu-item__trailing__line {
  height: 1px;
  background: black;
}
