.sign-in-story {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.sign-in-story__form {
  width: 400px;
  margin-top: 20px;
}
